{{template "preview-header" .}}
        <div class="archive-list">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Entries}}
                    <tr{{if .IsDir}} class="archive-directory"{{end}}>
                        <td title="{{.Name}}">{{.Name}}</td>
                        <td>{{.Size}}</td>
                        <td>{{.Modified}}</td>
                    </tr>
                    {{else}}
                    <tr><td colspan="3">This archive is empty.</td></tr>
                    {{end}}
                </tbody>
            </table>
        </div>
{{template "preview-footer" .}}