{{template "preview-header" .}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/styles/github.min.css" media="(prefers-color-scheme: light)">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/styles/github-dark.min.css" media="(prefers-color-scheme: dark)">
        <pre class="code"><code>{{.Content}}</code></pre>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
{{template "preview-footer" .}}
